.wrapper {
    overflow: visible;
}
.timeline > li > .timeline-item > .timeline-header {
    color: #3097D1;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    color: rgba(255,255,255,0.7) !important;
}